.active{
	color:#F39800;
}
.on{
	color:#312927;
}
/*主区域*/
.whell_img{
	width:100%;
	height:360px;
	overflow:hidden;
	position:relative;
}
.whell_img ul{
	width:100%;
	height:1440px;
	position:absolute;
}
.whell_img ul li{
	display:block;
	width:100%;
	height:360px;
}
.whell_img ul li:nth-child(1){
	background:url('../imgs/1_1.png') no-repeat;
	background-size:cover;
	background-position:center;
}
.whell_img ul li:nth-child(2){
	background:url('../imgs/2_1.png') no-repeat;
	background-size:cover;
	background-position:center;
}
.whell_img ul li:nth-child(3){
	background:url('../imgs/3_1.png') no-repeat;
	background-size:cover;
	background-position:center;
}
.whell_img ul li:nth-child(4){
	background:url('../imgs/4_1.png') no-repeat;
	background-size:cover;
	background-position:center;
}
.whell_opt{
	width:100%;
	height:65px;
	margin:0 auto;
}
.whell_opt ul{
	width:100%;
	height:65px;
	border-bottom:1px solid #E0E0E0;
	box-sizing:border-box;
}
.whell_opt ul li{
	/*width:80px;*/
	height:30px;
	line-height:30px;
	float:left;
	font-size:16px;
	font-family:"微软雅黑";
	/*color:#312927;*/
	border-left:1px solid #E0E0E0;
	border-right:1px solid #E0E0E0;
	padding:0 10px 0 10px;
	margin:16px 0 auto 0;
	cursor:pointer;
	box-sizing:border-box;
}
.whell_det{
	width:98%;
	height:300px;
	margin:0 auto 0 auto;
	overflow:hidden;
	position:relative;
	margin-top:20px;
	margin-bottom:20px;
}
.whell_det ul{
	width:100%;
	height:1200px;
	position:absolute;
}
.whell_det ul li:nth-child(1) h3{
	width:100%;
	height:10px;
	margin-bottom:10px;
}
.whell_det ul li:nth-child(1) p{
	font-family:"微软雅黑";
	line-height:20px;
	font-size:12px;
	color:#666666;
	width:100%;
	height:140px;
}
.hidden{
	display:none;
}
.whell_det ul li:nth-child(1) span:before{
	display:block; 
	content:"clear"; 
	width:0;
	height:0; 
	clear:both; 
	overflow:hidden; 
	visibility:hidden;
}
.whell_det ul li:nth-child(2) p{
	font-family:"微软雅黑";
	line-height:18px;
	font-size:12px;
	color:#666666;
	width:100%;
	height:300px;
}
.whell_det ul li:nth-child(3){
	width:100%;
	height:300px;
}
.whell_det ul li:nth-child(3) img{
	display:block;
	float:left;
	width:23%;
	height:50%;
	margin:20% 1%;
}
.whell_det ul li:nth-child(4) p{
	font-family:"微软雅黑";
	line-height:20px;
	font-size:12px;
	color:#666666;
	width:100%;
	height:300px;
}
