@media only screen and (min-width:1025px){
	/*html{overflow-y:scroll;}*/
	html,body{width:100%;height:100%;}
	/*主区域*/
	.main{ 
		position:relative;
		width:100%;
		height:718px;
		background:-webkit-radial-gradient(#FDCB00,#EC6700);
		background:-ms-radial-gradient(#FDCB00,#EC6700);
		overflow:hidden;
	}
	/*主区域 左边*/
	.m_left{
		width:50%;
		height:100%;
		position:absolute;
		top:0;
		left:5%;
	}
	.m_left_font{
		width:auto;
		height:352px;
		position:absolute;
		left:0;
		top:50%;
		margin-top:-176px;
	}
	@font-face {
		font-family: 'h3use';
		src: url('fonts/fzltzhk2.eot');
		src: url('fonts/fzltzhk2.eot?#iefix') format('embedded-opentype'), 
             url('fonts/fzltzhk2.woff') format('woff'), 
             url('fonts/fzltzhk2.ttf')  format('truetype'),
             url('fonts/fzltzhk2.svg#h3use') format('svg');
	}
	.m_left_font h1{
		font-family:"arial black";
		font-size:7rem;
		color:#FFF;
		font-weight:bold;
		letter-spacing:0px;
		word-spacing:0px;
	}
	.m_left_font p{
		font-family:"arial";
		font-size:7rem;
		color:#FFFFFF;
		font-weight:normal;
		letter-spacing:0px;
		word-spacing:0px;
	}
	.m_left_font h3{
		font-family:'h3use';
		font-size:3rem;
		color:#FFFFFF;
	}
	.m_left_font span{
		display:block;
		width:139px;
		height:35px;
		line-height:35px;
		background:white;
		text-align:center;
		margin-top:80px;
	}
	.m_left_font span a{
		font-size:18px;
		font-family:'微软雅黑';
		color:#F7AB00;
	}
	.m_left_font span:hover{
		transition:opacity 300ms;
		opacity:0.5;
		filter:Alpha(opacity:50);
	}
	/*主区域右边*/
	.m_right{
		width:50%;
		height:100%;
		position:absolute;
		top:0;
		left:45%;
		z-index: 333;
		text-align:right;
	}
	.m_r_house{
		width:871px;
		height:577px;
		position:absolute;
		right:0;
		top:50%;
		margin-top:-288.5px;
		/*background-image:url("../imgs/house.png");*/
		background-position: right top;
		background-size:cover;
	}
	/*分区选择*/
	.one,.two,.five,.four,.thr,.sev,.six{
		position:absolute;
		z-index:100000;
		cursor:pointer;
		/*display:none;*/
		opacity:0.5;
		filter:Alpha(opacity:50);
	}
	.one:hover,.two:hover,.five:hover,.four:hover,.thr:hover,.sev:hover,.six:hover{
		opacity:1;
		filter:alpha(opacity:100);
	}
	.one{
		top:107px;
		left:239px;
	}
	.two{
		top:88px;
		left:460px;
	}
	.thr{
		top:149px;
		left:352px;
	}
	.four{
		top:89px;
		left:377px;
	}
	.five{
		top:137px;
		left:527px;
	}
	.six{
		top:273px;
		left:440px;
	}
	.sev{
		top:393px;
		left:415px;
	}
	@keyframes opc{
		from{
			opacity:0;
			filter:Alpha(opacity=0);
		}
		to{
			opacity:1;
			filter:Alpha(opacity=100);
		}
	}
	/*内容展示*/
	.m_cont1,.m_cont2,.m_cont3,.m_cont4,.m_cont5,.m_cont6,.m_cont7{
		width:50%;
		height:100%;
		background:#F7F7F7;
		position:absolute;
		left:100%;
		top:0;
		z-index:555;
	}
	.m_cont1 ul,.m_cont2 ul,.m_cont3 ul,.m_cont4 ul,.m_cont5 ul,.m_cont6 ul,.m_cont7 ul{
		width:100%;
		height:584px;
		position:relative;
	}
	.m_cont1 ul li,.m_cont2 ul li,.m_cont3 ul li,.m_cont4 ul li,.m_cont5 ul li,.m_cont6 ul li,.m_cont7 ul li{
		position:relative;
		float:left;
		margin-left:1%;
		width:32%;
		height:33%;
	}
	.m_cont1 ul img,
	.m_cont2 ul img,
	.m_cont3 ul img,
	.m_cont4 ul img,
	.m_cont5 ul img,
	.m_cont6 ul img,
	.m_cont7 ul img{
		height:80%;
		width:100%;
		border:none;
	}
	.m_cont1 ul span,
	.m_cont2 ul span,
	.m_cont3 ul span,
	.m_cont4 ul span,
	.m_cont5 ul span,
	.m_cont6 ul span,
	.m_cont7 ul span{
		text-align:center;
		font-size:14px;
		font-family:"微软雅黑";
		width:auto;
		height:25px;
		line-height:25px;
	}
	.m_cont1_h,.m_cont2_h,.m_cont3_h,.m_cont4_h,.m_cont5_h,.m_cont6_h,.m_cont7_h{
		width:auto;
		height:134px;
		position:relative;
	}
	.m_cont1_h1,.m_cont2_h1,.m_cont3_h1,.m_cont4_h1,.m_cont5_h1,.m_cont6_h1,.m_cont7_h1{
		width:127px;
		height:114px;
		margin-left:1%;
		margin-top:10px;
		margin-bottom:10px;
	}
	.m_cont1_h2,.m_cont2_h2,.m_cont3_h2,.m_cont4_h2 ,.m_cont5_h2,.m_cont6_h2,.m_cont7_h2{
		width:449px;
		height:71px;
		position:absolute;
		left:1%;
		bottom:10px;
	}
	/*主区域侧边栏*/
	.sidebar{
		position:fixed;
		top:30%;
		right:0;
		width:32px;
		height:175px;
	}
	/*底部导航*/
	.m_nav{
		width:90%;
		height:40px;
		margin:0 5%;
		position:absolute;
		z-index:444;
		bottom:0;
	}
	.m_nav li{
		width:calc(100%/4 - 1px);
		height:40px;
		box-sizing:border-box;
		-ms-box-sizing:border-box;
		-moz-box-sizing: border-box;  
     	-webkit-box-sizing: border-box; 
     	-o-box-sizing: border-box; 
		border-left:1px solid #FFFFFF;
		float:left;
		padding-left:1%;
		cursor:pointer;
	}
	.m_nav li:hover{
		transition:opacity 300ms;
		opacity:0.5;
		filter:Alpha(opacity=50);
	}
	.m_nav li a{
		font-size:18px;
		font-family:'fzdhtjw gb1 0';
		color:#FFFFFF;
	}
	/*企业动态*/
	.state{
		width:100%;
		height:267px;
		background:#fff;
	}
	.s_tab{
		width:90%;
		height:100%;
		margin:0 5%;
	}
		/*hover*/
		.s_tab>a:hover .s_tab_d1>date{
			color:#f39800;
			transition:color 300ms;
		}
		.s_tab>a:hover .s_tab_d1>span{
			color:#f39800;
			transition:color 300ms;
		}
		.s_tab>a:hover .s_tab_d1>h3{
			color:#f39800;
			transition:color 300ms;
		}
		.s_tab>a:hover .s_tab_d1>p{
			color:#f39800;
			transition:color 300ms;
		}
		
		.s_tab>a:hover .s_tab_d2>date{
			color:#f39800;
			transition:color 300ms;
		}
		.s_tab>a:hover .s_tab_d2>span{
			color:#f39800;
			transition:color 300ms;
		}
		.s_tab>a:hover .s_tab_d2>h3{
			color:#f39800;
			transition:color 300ms;
		}
		.s_tab>a:hover .s_tab_d2>p{
			color:#f39800;
			transition:color 300ms;
		}
		.s_tab>a:hover .s_tab_d3>date{
			color:#f39800;
			transition:color 300ms;
		}
		.s_tab>a:hover .s_tab_d3>span{
			color:#f39800;
			transition:color 300ms;
		}
		.s_tab>a:hover .s_tab_d3>h3{
			color:#f39800;
			transition:color 300ms;
		}
		.s_tab>a:hover .s_tab_d3>p{
			color:#f39800;
			transition:color 300ms;
		}
		/*hover...*/
	.s_tab_d1,.s_tab_d2,.s_tab_d3{
		border-left:1px solid #D1D1D1;
	}
	.s_tab_d3{
		border-right:1px solid #D1D1D1;
	}
	.s_tab_d1,.s_tab_d2,.s_tab_d3{
		width:calc(100%/3);
		box-sizing:border-box;
		height:163px;
		margin-top:52px;
		margin-bottom:52px;
		padding-left:4%;
		padding-right:4%;
		float:left;
	}
	.s_tab_d1 date,.s_tab_d2 date,.s_tab_d3 date{
		line-height: 30px; 
	}
	.s_tab_d1 h3,.s_tab_d2 h3,.s_tab_d3 h3{
		line-height: 30px; 
		font-size:16px;
		color:#333333;
		font-family:"h3use";
	}
	.s_tab_d1 p,.s_tab_d2 p,.s_tab_d3 p{
		overflow: hidden;
		position: relative; 
		line-height: 30px; 
		max-height: 90px;
		font-size:12px;
		color:#333333;
		font-family:"h3use";
		
	}
	.s_tab_d1 p::after,.s_tab_d2 p::after,.s_tab_d3 p::after{
		content:" ...";
		position: absolute; 
		bottom: 0; 
		padding-left:5px;
		/*right: 0;*/ 
		width:100%;
		height:30px;
		background:#FFFFFF;
	}
	.s_tab_d1 span,.s_tab_d2 span,.s_tab_d3 span{
		float:right;
		font-size:12px;
		color:#333333;
		font-family:"h3use";
		line-height: 30px; 
	}
}
/*(min-width:1025px)...*/
@media only screen and (min-width:768px) and (max-width:1024px){
	html,body{width:100%;height:100%;overflow-x:hidden;background-color: #f5f4f4;}
	/*主区域*/
	.main{
		position:relative;
		width:100%;
		height:922px;
		/*height:718px;*/
		background:-webkit-radial-gradient(#FDCB00,#EC6700);
		background:-ms-radial-gradient(#FDCB00,#EC6700);
	}
	/*主区域 左边*/
	.m_left{
		width:100%;
		height:421px;
		position:absolute;
		top:501px;
		left:10px;
	}
	.m_left_font{
		width:auto;
		height:421px;
		text-align:left;
	}
	.m_left_font h1{
		font-family:"arial black";
		font-size:70px;
		color:#FFF;
		font-weight:900;
	}
	.m_left_font p{
		font-family:"arial";
		font-size:70px;
		color:#FFFFFF;
		font-weight:normal;
	}
	.m_left_font h3{
		font-family:"微软雅黑";
		font-size:30px;
		color:#FFFFFF;
	}
	.m_left_font span{
		display:block;
		width:139px;
		height:35px;
		line-height:35px;
		background:white;
		text-align:center;
		margin-top:120px;
	}
	.m_left_font span a{
		font-size:18px;
		font-family:'微软雅黑';
		color:#F7AB00;
	}
	/*主区域右边*/
	.m_right{
		width:100%;
		height:461px;
		position:absolute;
		top:20px;
		left:0px;
		z-index: 5555;
		/*display:none;*/
	}
	.m_r_house{
		width:696px;
		height:461px;
		background:url("imgs/house.png") no-repeat;
		background-position: left top;
		background-size:100% 100%;
	}
	/*主区域侧边栏*/
	.sidebar{
		display:none;
	}
	/*底部导航*/
	.m_nav{
		display:none;
	}
	/*分区选择*/
	.none{
		display:none;
	}
	
	.one,.two,.five,.four,.thr,.sev,.six{
		position:absolute;
		z-index:100000;
		cursor:pointer;
		/*display:none;*/
		opacity:0.5;
		filter:Alpha(opacity:50);
	}
	.one:hover,.two:hover,.five:hover,.four:hover,.thr:hover,.sev:hover,.six:hover{
		opacity:1;
		filter:alpha(opacity:100);
	}
	.one img,.two img,.five img,.four img,.thr img,.sev img,.six img{
		width:80%;
		height:80%;
		border:none;
	}
	.one{
		top:85px;
		left:192px;
	}
	.two{
		top:70px;
		left:366px;
	}
	.thr{
		top:118px;
		left:280px;
	}
	.four{
		top:69px;
		left:301px;
	}
	.five{
		top:108px;
		left:420px;
	}
	.six{
		top:216px;
		left:354px;
	}
	.sev{
		top:313px;
		left:332px;
	}
	/*内容展示*/
	.li_none{
		display:none;
	}
	.m_cont1,.m_cont2,.m_cont3,.m_cont4,.m_cont5,.m_cont6,.m_cont7{
		width:100%;
		height:461px;
		background:#F7F7F7;
		/*background:red;*/
		position:absolute;
		top:461px;
		left:100%;
		z-index:222;
		/*display:none;*/
	}
	.m_cont1 ul,.m_cont2 ul,.m_cont3 ul,.m_cont4 ul,.m_cont5 ul,.m_cont6 ul,.m_cont7 ul{
		width:100%;
		height:327px;
		position:relative;
	}
	.m_cont1 ul li,.m_cont2 ul li,.m_cont3 ul li,.m_cont4 ul li,.m_cont5 ul li,.m_cont6 ul li,.m_cont7 ul li{
		position:relative;
		float:left;
		margin-left:1%;
		width:32%;
		height:50%;
	}
	.m_cont1 ul img,
	.m_cont2 ul img,
	.m_cont3 ul img,
	.m_cont4 ul img,
	.m_cont5 ul img,
	.m_cont6 ul img,
	.m_cont7 ul img{
		height:80%;
		width:100%;
		border:none;
	}
	.m_cont1 ul span,
	.m_cont2 ul span,
	.m_cont3 ul span,
	.m_cont4 ul span,
	.m_cont5 ul span,
	.m_cont6 ul span,
	.m_cont7 ul span{
		text-align:center;
		font-size:14px;
		font-family:"微软雅黑";
		width:auto;
		height:20px;
		line-height:20px;
	}
	.m_cont1_h,.m_cont2_h,.m_cont3_h,.m_cont4_h,.m_cont5_h,.m_cont6_h,.m_cont7_h{
		width:auto;
		height:134px;
		position:relative;
	}
	.m_cont1_h1,.m_cont2_h1,.m_cont3_h1,.m_cont4_h1,.m_cont5_h1,.m_cont6_h1,.m_cont7_h1{
		width:127px;
		height:114px;
		margin-left:1%;
		margin-top:10px;
		margin-bottom:10px;
	}
	.m_cont1_h2,.m_cont2_h2,.m_cont3_h2,.m_cont4_h2 ,.m_cont5_h2,.m_cont6_h2,.m_cont7_h2{
		width:449px;
		height:71px;
		position:absolute;
		left:1%;
		bottom:10px;
	}
	/*企业动态*/
	.state{
		width:100%;
		height:203px;
		background-color: #f5f4f4;
	}
	.s_tab{
		width:100%
		height:100%;
		background-color: #f5f4f4;
	}
	.s_tab_d3{
		display:none;
	}
	.s_tab_d1,.s_tab_d2,.s_tab_d3{
		/*border:1px solid #D1D1D1;*/
		box-sizing:border-box;
		background-color: #fff;
		/*box-shadow:inset 0 2px 4px rgba(0,0,0,0.8);*/
	}
	.s_tab_d1,.s_tab_d2,.s_tab_d3{
		width:48%;
		height:163px;
		margin-top:20px;
		margin-bottom:20px;
		margin-left:1%;
		margin-right:1%;
		padding-left:1%;
		padding-right:1%;
		float:left;
	}
	.s_tab_d1 date,.s_tab_d2 date,.s_tab_d3 date{
		line-height: 30px; font-size:14px;
	}
	.s_tab_d1 h3,.s_tab_d2 h3,.s_tab_d3 h3{
		line-height: 30px; 
		font-size:16px;
		color:#333333;
		font-family:"h3use";
	}
	.s_tab_d1 p,.s_tab_d2 p,.s_tab_d3 p{
		overflow: hidden;
		position: relative; 
		line-height: 30px; 
		max-height: 90px;
		font-size:14px;
		color:#333333;
		font-family:"h3use";
		
	}
	.s_tab_d1 p::after,.s_tab_d2 p::after,.s_tab_d3 p::after{
		content:" ...";
		position: absolute; 
		bottom: 0; 
		padding-left:5px;
		/*right: 0;*/ 
		width:100%;
		height:30px;
		background:#FFFFFF;
	}
	.s_tab_d1 span,.s_tab_d2 span,.s_tab_d3 span{
		float:right;
		font-size:14px;
		color:#333333;
		font-family:"h3use";
		line-height: 30px; 
	}

}
/*(min-width:768px) and (max-width:1024px)...*/	
@media only screen and (max-width: 767px){
	html,body,
	#box {
		background-color: #f5f4f4;
		width: 100%;
		height: 100%;overflow-x:hidden;
	}
	/*主区域*/
	.main{
		position:relative;
		width:100%;
		height:520px;
		/*height:718px;*/
		margin-bottom: 20px;
		background:-webkit-radial-gradient(#FDCB00,#EC6700);
		background:-ms-radial-gradient(#FDCB00,#EC6700);
	}
	/*主区域 左边*/
	.m_left{
		width:100%;
		height:240px;
		/*background:red;*/
		/*float:left;*/
		position:absolute;
		top:280px;
		/*bottom:20px;*/
		left:5px;
	}
	.m_left_font{
		width:auto;
		height:240px;
		text-align:left;
	}
	.m_left_font h1{
		font-family:"arial black";
		font-size:50px;
		color:#FFF;
		font-weight:900;
	}
	.m_left_font p{
		font-family:"arial black";
		font-size:50px;
		color:#FFFFFF;
		font-weight:normal;
	}
	.m_left_font h3{
		font-family:"微软雅黑";
		font-size:30px;
		color:#FFFFFF;
	}
	.m_left_font span{
		display:block;
		width:139px;
		height:35px;
		line-height:35px;
		background:white;
		text-align:center;
		margin-top:30px;
	}
	.m_left_font span a{
		font-size:18px;
		font-family:'微软雅黑';
		color:#F7AB00;
	}
	/*主区域右边*/
	.m_right{
		width:100%;
		height:240px;
		position:absolute;
		top:20px;
		left:0;
		z-index: 5555;
		/*display:none;*/
	}
	.m_r_house{
		width:100%;
		height:240px;
		/*background:url("imgs/house.png") no-repeat;*/
		background-position: left top;
		background-size:100% 100%;
	}
	/*主区域侧边栏*/
	.sidebar{
		display:none;
	}
	/*底部导航*/
	.m_nav{
		display:none;
	}
	/*分区选择*/
	.one,.two,.five,.four,.thr,.sev,.six{
		/*background:#F4B95F;*/
		opacity:0.7;
		/*background:rgba(243,185,95,0.7);*/
		position:absolute;
		z-index:333;
		cursor:pointer;
		display:none;
	}
	/*内容展示*/
	.m_cont1,.m_cont2,.m_cont3,.m_cont4,.m_cont5,.m_cont6,.m_cont7{
		width:50%;
		height:100%;
		background:#F7F7F7;
		position:absolute;
		left:3000px;
		/*right:0px;*/
		z-index:222;
		display:none;

	}
	/*企业动态*/
	.state{
		width:100%;
		height:560px;
		background-color: #f5f4f4;
	}
	.s_tab{
		width:100%
		height:100%;
		background-color: #f5f4f4;
	}
	.s_tab_d1,.s_tab_d2,.s_tab_d3{
		/*border:1px solid #D1D1D1;*/
		box-sizing:border-box;
		background-color: #fff;
	}
	.s_tab_d1,.s_tab_d2,.s_tab_d3{
		width:94%;
		height:163px;
		margin-top:20px;
		padding:10px 20px;
		margin-left:auto;
		margin-right:auto;
		background:#FFFFFF;
	}
	.s_tab_d1 date,.s_tab_d2 date,.s_tab_d3 date{
		line-height: 30px; 
		font-size:12px;
	}
	.s_tab_d1 h3,.s_tab_d2 h3,.s_tab_d3 h3{
		line-height: 30px; 
		font-size:16px;
		color:#333333;
		font-family:"h3use";
	}
	.s_tab_d1 p,.s_tab_d2 p,.s_tab_d3 p{
		overflow: hidden;
		position: relative; 
		line-height: 30px; 
		max-height: 90px;
		font-size:12px;
		color:#333333;
		font-family:"h3use";
		
	}
	.s_tab_d1 p::after,.s_tab_d2 p::after,.s_tab_d3 p::after{
		content:" ...";
		position: absolute; 
		bottom: 0; 
		padding-left:5px;
		/*right: 0;*/ 
		width:100%;
		height:30px;
		background:#FFFFFF;
	}
	.s_tab_d1 span,.s_tab_d2 span,.s_tab_d3 span{
		/*margin-left:40%;*/
		float:right;
		font-size:12px;
		color:#333333;
		font-family:"h3use";
		line-height: 30px; 
	}
}
/*(min-width: 320px) and (max-width: 767px)...*/